* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(37, 37, 37);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  text-align: center;
  color: white;
}

.gameboard {
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(185, 184, 184); 
  border: 1px solid white;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
}

.winner {
  text-align: center;
  color: white;
}
