* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: scroll;
  font-family: 'Share Tech Mono', monospace;
}

.page1, .page2, .page3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p1name, .p2name {
  text-transform: uppercase;
}

/* -------PAGE 1-------- */
.page1 {
  width: 100%;
  height: 100vh;
  background-color: #89fbdf;
  
}

.logo {
  width: 70%;
  margin-top: 4%;
}

.page1 p {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.25rem;
}

.name-input {
  border-radius: 10px;
  border: 3px dashed rgb(61, 105, 247);
  background-color: #fca754;
  font-size: 1.75rem;
  color: rgb(255, 47, 175);
  padding: 5px;
  font-family: 'Share Tech Mono', monospace;
  width: 200px;
  text-align: center;
}

.name-input::placeholder {
  color: white;
}

.name-input:focus {
  outline: none;
}

form button {
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  text-shadow: 1px 1px rgb(70, 70, 70);
  text-transform: uppercase;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid;
  box-shadow: 3px 3px yellow;
  border-color: rgb(251, 255, 0);
  border-radius: 5px;
  height: 30px;
  transition: all ease-in-out 0.3s;
  margin-right: 10px
}

form button:hover {
  box-shadow: 3px 3px hotpink;
  border-color: hotpink;
  transition: all ease-in-out 0.3s;
}

form button:focus {
  outline: none;
}

/* ------- PAGE 2 -------- */
.arrow {
  cursor: pointer;
  width: 50px;
  height: 50px;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.425));
}

.back-btn {
  margin-top: 20px;
  color: orange;
  text-shadow: 2px 2px rgb(148, 60, 1);
  text-decoration: underline;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.back-btn:hover {
  transition: all ease-in-out 0.3s;
  color: rgb(255, 217, 0);
  text-shadow: 2px 2px rgb(99, 81, 1);
}

.play-btn {
  margin-bottom: 30px;
  color: orange;
  text-shadow: 2px 2px rgb(148, 60, 1);
  text-decoration: underline;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.play-btn:hover {
  transition: all ease-in-out 0.3s;
  color: rgb(255, 217, 0);
  text-shadow: 2px 2px rgb(99, 81, 1);
}

.play-animation {
  animation: pulse 2s alternate infinite;
}

@keyframes pulse {
  100% {
    text-shadow: 2px 2px rgb(83, 0, 90);
    letter-spacing: 0.3rem;
  }
}

.page2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 157, 255);
  justify-content: space-between;
}

.page2 .container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.page2 h1 {
  font-size: 2rem;
}

.choose-token {
  width: 30%;
  text-align: center;
}

.choose-token p {
  font-size: 1.3rem;
}

.choose-again-btn {
  font-size: 1rem;
  cursor: pointer;
  color: rgb(198, 0, 216);
  text-shadow: 1px 1px black;
  transition: all ease-in-out 0.3s;
}

.choose-again-btn:hover {
  color: rgb(126, 1, 1);
  transition: all ease-in-out 0.3s;
}

.tokens {
  display: flex;
}

.tokens img {
  width: 50%;
  height: 100px;
  transition: border ease-in-out 0.2s;
}

.token-hover {
  transition: border ease-in-out 0.2s;
  border: 4px dashed orange;
}

.chosen {
  border: 4px dashed yellow;
}


/* ------- PAGE 3 -------- */

.back-choice-btn {
  margin-top: 15px;
  color: turquoise;
  text-shadow: 2px 2px rgb(1, 99, 99);
  text-decoration: underline;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.back-choice-btn:hover {
  transition: all ease-in-out 0.3s;
  color: rgb(30, 255, 0);
  text-shadow: 2px 2px rgb(9, 99, 1);
}

.page3 {
  width: 100%;
  height: 100vh;
  background-color: rgb(170, 3, 192);
}

.page3 .game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.whos-turn {
  font-size: 3em;
  text-transform: uppercase;
  color: rgb(255, 115, 0);
  text-shadow: 5px 5px rgb(185, 84, 1);
  margin-bottom: 0;
}

.p1 {
  width: 25%;
  height: 50vh;
  text-align: center;
}

.p2 {
  width: 25%;
  height: 50vh;
  text-align: center;
}

.p1 h1, .p2 h1 {
  font-size: 2rem;
}

.p1 {
  color: rgb(0, 255, 0);
}

.p2 {
  color: rgb(0, 225, 255);
}

.gamearea {
  width: 50%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard {
  width: 375px;
  height: 375px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  transform: skew(-5deg);
  margin-left: -60px;
  
}

.cell {
  width: 135px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:not(:nth-child(3)):not(:nth-child(6)):not(:nth-child(9)) {
  border-right: 10px solid yellow;
  box-shadow: 10px 0px black;
}

.cell:not(:nth-child(7)):not(:nth-child(8)):not(:nth-child(9)) {
  border-bottom: 10px solid yellow;
}

.cell-hovered {
  background-color: rgba(255,255,255,0.3);
}

.tictac-token {
  width: 120px;
  filter: drop-shadow( 5px 5px 10px #000 );
  cursor: pointer;
}

.tictac-played {
  width: 120px;
  filter: drop-shadow( 2px 2px 2px #000 );
}

.toe-token {
  width: 80px;
  filter: drop-shadow( 5px 5px 10px #000 );
  cursor: pointer;
}

.toe-played {
  width: 80px;
  filter: drop-shadow( 2px 2px 2px #000 );
}

.drag-token {
  filter: drop-shadow( 10px 10px 30px #000 );
}

.invisible {
  visibility: hidden;
}

.winner-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fb7600; 
  margin: 25vh auto;
  width: 50%;
  height: 50vh;
  border: 5px solid orange;
  font-family: 'Bungee Shade', cursive;
  font-size: 3rem;
  color: blue;
  text-align: center;
  overflow: auto;
}

.popup-content button {
  cursor: pointer;
  border: 4px solid blue;
  box-shadow: 4px 4px darkblue;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Share Tech Mono', monospace;
  transition: all ease-in-out 0.3s
}

.popup-content button:hover {
  border: 4px solid yellow;
  box-shadow: 4px 4px darkgoldenrod;
  transition: all ease-in-out 0.3s
}

.popup-content h1 {
  margin-top: 15%;
  margin-bottom: 5%;
}
